@using Microsoft.JSInterop
<h3>BlazorList</h3>

This will be a list


<button onclick="@( ()=>OnButtonClicked())">Click Me!</button>
@code{
    [Inject]
    private IJSRuntime _jsRuntime { get; set; }
    private async Task OnButtonClicked()
    {
        await _jsRuntime.InvokeVoidAsync("alert", "Button Clicked!");
    }
}